* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
  
body {
   background: white;
}
.nav-links{
  position: absolute;
  top: 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: right;
}
.nav-links ul li{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}
.nav-links ul li a{
  color: white;
  text-decoration: none;
}
.location{
  width: 200px;
}
#selectLocation{
  width: 100%;
  padding:  15px 20px;
  margin-bottom: 8px;
  margin-top: 20px;
  box-sizing: border-box;
  background: rgba(255,255,255,0.7);
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.excess{
  width: 200px;
}
#selectExcess{
  width: 100%;
  padding:  15px 20px;
  margin-bottom: 10px;
  box-sizing: border-box;
  background: rgba(255,255,255,0.7);
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.need{
 width: 200px;
}
#selectNeed{
  width: 100%;
  padding:  15px 20px;
  margin-bottom: 10px;
  box-sizing: border-box;
  background: rgba(255,255,255,0.7);
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.form h1{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(#10bb10, #a0f088);
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn{
  background-color:  rgba(255,255,255,0.7);
  border: 1px solid black;
  border-radius: 6px;
  color: black;
  padding: 16px 32px;
  text-decoration: none;
  margin: 0px 36px;
  cursor: pointer;
}